body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #E0E0E0; /* Off-white text */
    position: relative; /* Add relative position to body */
}

.flying-image {
    position: absolute;
    width: 50px; /* Size of a postage stamp */
    height: 50px;
    object-fit: cover;
    z-index: -1; /* Ensure it stays in the background */
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#title-image img {
    width: 40%; /* 60% smaller than full width */
    max-width: 200px; /* Adjust the max width as needed */
    height: auto;
    margin-bottom: 20px;
}

.steps-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.person {
    border: 1px solid #333; /* Dark gray border */
    padding: 10px;
    border-radius: 5px;
    background-color: #2C2C2C; /* Light gray background */
    position: relative;
}

.person img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #444; /* Dark gray border */
    border-radius: 3px;
    background-color: #333; /* Dark gray background */
    color: #E0E0E0; /* Off-white text */
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #555; /* Medium gray background */
    color: #E0E0E0; /* Off-white text */
    cursor: pointer;
}

button:hover {
    background-color: #666; /* Lighter gray background */
}

@media (max-width: 600px) {
    .steps-form {
        grid-template-columns: 1fr;
    }

    .person img {
        width: 80px;
        height: 80px;
    }

    input[type="number"] {
        width: 70%;
    }

    button {
        width: 70%;
    }
}
